@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}


.barraNavegacao {
    background: #13436B;
    z-index: 2;
    box-shadow: 0 3px 6px #000000a1;
    position: fixed;
    width: 100%;
    height: 120px;
}

.logoRenove {
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: row;
}

.linkLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkLogo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoTexto {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tituloRenove {
    font-size: 30px;
    color: #B44401;
}

.subTituloRenove {
    font-size: 10px;
    /* color: #13436B; */
}

.barraNavegacao .logo {
    margin-left: 10px;
    width: 100%;
    height: 100%;
    max-width: 100px;
    background-color: #13436B;
    border: 5px solid #B44401;
}

.botao {
    top: 40px;
    right: 30px;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
}

.buttonMobile {
    background: transparent;
    color: #fff;
    border: none;
}

.buttonMobile img {
    padding: 5px;
    width: 30px;
}
.botaoFechar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonMobileFechar {
    background: transparent;
    color: #fff;
    border: none;
}

.buttonMobileFechar img {
    padding: 5px;
    width: 30px;
}
.menuMobile {
    display: none;
}

.menuMobile-active {
    width: 200px;
    height: 100%;
    background-color: #13436B;
    z-index: 98;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu {
    display: none;

}

.opcoesMenuMobile {

    overflow: auto;
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    background-color: #13436B;
}

.opcoesMenuMobile a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}
.conteudoOpcoesMenuMobile{
    margin: 15px;
    display: block;
    justify-content: center;
    align-items: center;
}
.opcoesMobile ul:first-child>li>a {
    text-transform: uppercase;
}

.opcoesMobile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.opcoesMobile li {
    margin: 5px;
    font-weight: bold;
}
.opcaoMobile {
    width: 100%;
    transition: 1000ms;
}

.opcaoMobile:hover a {
    color: rgb(180, 68, 1);
}

.opcoesSolucoesMobile {
    margin-top: 5px;
    display: none;
}

.opcoesSolucoesMobile-active {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.solucoesMobile img{
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.solucoesMobile button{
    border-style: none;
    background: none;

}

.opcoesSetoresMobile {
    margin-top: 5px;
    display: none;
}

.opcoesSetoresMobile-active {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.setoresMobile img{
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.setoresMobile button{
    border-style: none;
    background: none;

}

.barraPesquisaMobile {

    background-color: rgb(180, 68, 1);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}

::-webkit-input-placeholder {
    color: rgb(19, 67, 107);
}

.textoPesquisaMobile {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 15px;
    color: white;
    width: 0;
    transition: .5s;
}

.botaoPesquisaMobile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.barraPesquisaMobile:hover>.textoPesquisa {
    width: 240px;
    padding: 0 6px;
}

.barraPesquisaMobile:hover>.botaoPesquisa {
    background: white;
}

.imagemSection {
    background: linear-gradient(to right, rgba(180, 67, 1, 0.884), rgb(180, 68, 1));
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: left;
    width: 100%;
}

.imgViewPort {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.imgContainer {
    width: 100%;
    height: 100%;
}

.fundoImagem {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.conteudoPorCima {
    color: white;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.conteudoPorCima h1 {
    font-weight: 300;
    font-size: calc(1.5rem + 1.2vw);
    ;
}

.tituloPorCima {
    display: flex;
    margin-left: 15%;
    width: 100%;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 80px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posImagem {
    width: 100%;
    background-color: rgb(19, 67, 107);
    text-align: center;
    color: white;
}

.textoPosImagem {
    font-weight: 300;
    padding: 40px;
    font-size: 25px;
}

.conteudoSetores {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.blocosSetores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.tituloSetores {
    margin-top: 50px;
    margin-left: 20px;
}

.blocos {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.bloco {
    position: relative;
    margin: 10px;
    display: flex;
    width: 200px;
    height: 90px;
    align-items: center;
}

.imagemBloco {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagemBloco img {
    width: 100%;
    height: 100%;
}

.textoBloco {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(180, 68, 1, 0.5);
    z-index: 1;
    box-sizing: border-box;
    transition: 0.5s;
    overflow: hidden;
}

.botaoLink {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    background: none;
    outline: none;
    padding: 0;
    width: 0;
    height: 0;
    transition: 0.4s;

}

.textoBloco p {
    user-select: none;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    font-size: 10px;
}

.textoBloco a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    position: absolute;

}

.bloco:hover>.textoBloco {
    height: 100%;
}

.textoBloco:hover>.botaoLink {
    width: 20px;
    height: 20px;
}

.setasPosBlocos {
    display: flex;
    justify-content: center;
    
}

.conteudoPosBlocos {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    margin: 20px;
    font-size: 15px;
}


.conteudoPosBlocos img {
    width: 10px;
    height: 10px;
    margin: 5px;
    color: rgb(19, 67, 107);
}

.posBlocos {
    margin-top: 70px;
    width: 100%;
    background-color: rgb(180, 68, 1);
    text-align: center;
    color: white;
}

.textoPosBlocos {
    font-weight: 300;
    padding: 40px;
    font-size: 15px;
}

@media screen and (max-width: 530px) {



    .textoSolucao {
        margin: 10px;
        width: 400px;
        font-size: 10px;
    }

    .textoSolucao a {
        display: flex;
        margin-top: 10px;

    }

    .textoImagemSolucao {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagemSolucao {
        display: none;

    }
}

.solucao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.solucao a {
    text-decoration: none;
    color: rgb(19, 67, 107);
    font-weight: 900;
    font-size: 20px;
}

.tituloSolucao {
    margin-top: 30px;
    font-weight: bolder;

}

.setaContato {
    margin: 15px;
    width: 30px;
    height: 30px;
}

.textoSolucao {
    margin: 10px;
    width: 700px;
}

.textoSolucao a {
    display: flex;
    margin-top: 10px;
}

.imagemSolucao {
    width: 400px;
    height: 200px;
    margin: 15px;
}

.textoImagemSolucao img {
    width: 100%;
    height: 100%;

}

.textoImagemSolucao {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}


li {
    list-style-type: none;
}


.posIntervencoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    background-color: rgb(180, 68, 1);
    text-align: center;
    color: white;
}

.textoPosIntervencoes {
    font-weight: 300;
    margin: 30px;
    font-size: 15px;
}

.botaoIntervencoes {
    display: flex;
    margin-right: 20px;
    border-radius: 9px;
    border: none;
    font-weight: 700;
    padding: 10px 15px;
}

.botaoIntervencoes a {
    text-decoration: none;
    color: rgb(19, 67, 107);
    font-size: 10px;

}

.porqueRenove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 10px;
}

.porqueRenove div {
    margin: 70px 30px 70px 30px;
}

.tituloPorqueRenove {
    font-size: 25px;
    margin-bottom: 30px;
}

.paragrafoPorqueRenove {
    font-size: 20px;
    margin-bottom: 20px;
}

.containerNecessidades {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
}

.conteudoNecessidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
}

.conteudoNecessidades h1 {
    margin-top: 30px;
    font-size: 15px;
}

.necessidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.necessidades a {
    text-decoration: none;

}

.necessidades strong {
    color: #000;
    font-weight: 700;
    font-size: 15px;

}

.necessidades i {
    color: rgb(180, 68, 1);

}

.divisor {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.necessidadesBlocos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    width: 200px;
    height: 100px;
}

@media screen and (max-width: 495px) {
    .necessidades strong {
        color: #000;
        font-weight: 700;
        font-size: 10px;
    }

    .divisor {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .necessidadesBlocos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 150px;
        height: 100px;
    }
}

@media screen and (max-width: 375px) {
    .necessidades strong {
        color: #000;
        font-weight: 700;
        font-size: 10px;
    }

    .divisor {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;

    }

    .necessidadesBlocos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100px;
        height: 100px;
    }
}

.setaNecessidades {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    transition: 600ms;
}

.setaNecessidades:hover {
    background-color: rgb(180, 68, 1);
}

.conteudoOferecemos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(19, 67, 107);
}

.conteudoOferecemos h1 {
    margin-top: 30px;
    color: #fff;
    font-size: 10px;
}

.oferecemos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;

}

.oferecemos a {
    text-decoration: none;
    width: 100%;
}

.oferecemos strong {
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    width: 100%;
}

.oferecemos i {
    width: 100%;
    color: rgb(180, 68, 1);
    display: flex;
    justify-content: center;
}

.oferecemosBlocos {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oferecemosBlocos a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textoBlocoOferecemos {
    margin: 10px;
    width: 100%;
    text-align: center;
}

.setaOferecemos {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    transition: 600ms;
}

.setaOferecemos:hover {
    background-color: rgb(255, 255, 255);
}


footer {
    background-color: #494949;
    font-size: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

footer,
footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
    opacity: .7;
}

footer h4 {
    color: #fff;
    font-size: 10px;
}


footer a {
    font-size: 10px;
    text-decoration: none;
    margin: 5px;
}

.linksFooter {
    display: flex;
    justify-content: center;

}

.colunasFooter {
    display: flex;
    margin: 5px;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 495px) {
    .colunasFooter {
        display: flex;
        margin: 5px;
        justify-content: center;
        flex-direction: column;
    }
}

.solucoesFooter {
    font-size: 5px;
    margin: 10px;

}

.setoresFooter {
    font-size: 10px;
    margin: 5px;

}

.tecnologias {
    font-size: 5px;
    margin: 10px;

}

.linksUteis {
    font-size: 5px;
    margin: 10px;

}