
.imagemSectionSolucoes{
    background:linear-gradient(to right, rgba(180, 67, 1, 0.884), rgb(180, 68, 1)); 
    background-size: cover;
    height: 70vh;
    position: relative;
    text-align: left;
    width: 100%;
}
.imgViewPortSolucoes{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.imgContainerSolucoes {
    width: 100%;
    height: 100%;
}

.fundoImagemSolucoes {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.conteudoPorCimaSolucoes {
    color: white;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1; 
}
.conteudoPorCimaSolucoes h1{
    font-weight: 300;
    font-size: calc(1.5rem + 1.2vw);;
}
.tituloPorCimaSolucoes{
    display: flex;
    margin-left: 15%;
    width: 100%;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 80px;
}
.tituloSolucoes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.problemas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.conteinerProblemas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px;
    
}

.conteudoProblemas {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tituloProblema {
    font-weight: 300;
}

.exemplosProblemas {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.exemplosProblemasConteudo {
    width: 100%;
    height: auto;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 9px #00000020;
}

.exemplosProblemasConteudo p {
    color: rgb(180, 68, 1);
    font-weight: 600;
    line-height: normal;
    padding: 15px;
}

.exemplosProblemas img {
    width: 100%;
    height: auto;
}
.restauramos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 46px;
    padding: 12px;
}

.conteudoRestauramos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 46px;
    padding: 12px;
}
.tituloRestauramos h2{
    color:rgb(180, 68, 1);
    font-weight: 300;
    font-size: calc(1.325rem + .9vw);
}
.textoRestauramos p{
    margin-top: 10px;
}
.textoRestauramos p:not(:first-child){
    margin-top: 30px;
}
.imgRestauramos{
    margin-top: 10px;
    display: flex;
}
.imgRestauramos div{
    margin: 20px;
}
.imgRestauramos img {
    height: 140px;
}

.posRestauramos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    background-color: rgb(19, 67, 107);
    text-align: center;
    color: white;
}

.textoPosRestauramos{
    font-weight: 300;
    padding: 40px;
    font-size: 1rem;
}
.botaoRestauramos{
    display: flex;
    border-radius: 9px;
    border: none;
    font-weight: 700;
    padding: 10px 15px;
}
.botaoRestauramos a{
    text-decoration: none;
    color:  rgb(61, 25, 1);
    font-size: 1rem;
    padding: 5px;
}
footer {
    background-color: #494949;
    font-size: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

footer,footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
    opacity: .7;
}

footer h4 {
    color: #fff;
    font-size: 13px;
}


footer  a {
    font-size: 12px;
    text-decoration: none;
    margin: 10px;
}

.linksFooter{
    display: flex;
    margin: 20px;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.colunasFooter{
    display: flex;
    margin: 40px;
    justify-content: center;
    
    
}
.solucoesFooter{
    font-size: 13px;
    margin: 20px;
    padding-right: 80px;
    padding-left: 50px;
}
.setoresFooter{
    font-size: 13px;
    margin: 20px;
    padding-right: 80px;
    padding-left: 50px;
}
.tecnologias{
    font-size: 13px;
    margin: 20px;
    padding-right: 80px;
    padding-left: 50px;
}
.linksUteis{
    font-size: 13px;
    margin: 20px;
    padding-right: 80px;
    padding-left: 50px;
}
